// own by menu-item of menu and submenu
@mixin menu-item() {
  color: $body-color;

  &:hover,
  &--active {
    color: $menu-item-active-color;
  }

  &--disabled {
    color: $menu-item-disabled-color;
    
    cursor: default;
    pointer-events: none;
  }
}

.b-menu {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  margin-bottom: 30px;
  border-bottom: $menu-border-width solid $menu-border-color;

  list-style: none;
  box-shadow: $menu-box-shadow;

  &--horizontal {
    // direct menu item under horizontal mode
    > .b-menu-item {
      border-bottom: $menu-item-active-border-width solid transparent;

      &:hover,
      &--active {
        border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
      }
    }

    .b-submenu {
      position: absolute;
      z-index: 100;
      top: calc(100% + 8px);
      left: 0;

      border: $menu-border-width solid $menu-border-width;
      background-color: $white;
      box-shadow: $submenu-box-shadow;
    }
  }

  &--vertical {
    flex-direction: column;
    border-bottom-width: 0px;
    border-right: $menu-border-width solid $menu-border-color;

    // direct menu item under vertical mode
    > .b-menu-item {
      border-left: $menu-item-active-border-width solid transparent;  // make item switch smoothly 

      &:hover,
      &--active {    
        border-bottom-width: 0px;
        border-left: $menu-item-active-border-width solid $menu-item-active-color;
      }
    }
  }
}

.b-menu-item {
  @include menu-item();
  padding: $menu-item-padding-y $menu-item-padding-x;
  
  transition: $menu-transition;
  cursor: pointer;
}

// sub-menu
.b-submenu-item {
  position: relative;

  &:hover .b-submenu-arrow-icon {
    transform: rotate(180deg);
  }
}

// disable rotate effect under vertical mode
.b-menu--vertical {
  &:hover .b-submenu-arrow-icon {
    transform: none;
  }

  // only enable rotate when click
  .b-submenu-item--opened {
    .b-submenu-arrow-icon {
      transform: rotate(180deg);
    }
  }
}
.b-submenu-title {
  display: flex;
  align-items: center;
}

.b-submenu {
  padding-left: 0;
  
  white-space: nowrap;
  list-style: none;

  .b-menu-item {
    @include menu-item();
  }
}

.b-submenu-arrow-icon {
  margin-left: 4px;
  transition: transform $transition-time-base $transition-effect-base;
}
