@mixin button-size(
  $padding-y, 
  $padding-x, 
  $font-size,
  $border-radius,
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background-color,
  $border-color,
  $color,
  $hover-background-color: lighten($background-color, 7.5%),
  $hover-border-color: lighten($border-color, 10%),
  $hover-color: $color,
) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
  
  &:hover {
    background-color: $hover-background-color;
    border-color: $hover-border-color;
    color: $hover-color;
  }

  &:focus,
  &.focus {
    background-color: $hover-background-color;
    border-color: $hover-border-color;
    color: $hover-color;
  }

  &:disabled,
  &.disabled {
    background-color: $background-color;
    border-color: $border-color;
    color: $color;
  }
}

$zoom-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top,
)  {
  .zoom-in-#{$direction} {
    &-enter {
      opacity: 0;
      transform: $scaleStart;
    }

    &-enter-active {
      opacity: 1;
      transform: $scaleEnd;
      transition: $zoom-transition;
      transform-origin: $origin;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transform: $scaleStart;
      transition: $zoom-transition;
      transform-origin: $origin;
    }
  }
}