.b-alert {
  position: relative;
  display: block;

  padding: $alert-padding-y $alert-padding-x;
  border-radius: $border-radius;

  background-color: $alert-bg-default;
  color: $alert-color;

  &--hide {
    display: none;
  }

  // alert type
  &-success {
    background-color: $alert-bg-success;
  }
  &-warning {
    background-color: $alert-bg-warning;
  }
  &-danger {
    background-color: $alert-bg-danger;
  }
}

.b-alert-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-alert-title {
  margin: 0;

  font-size: $alert-title-font-size;
  font-weight: $alert-title-font-weight;
}
.b-alert-content {
  margin: $alert-content-margin;
  font-size: $alert-content-font-size;
}

.b-alert-icon-close {
  font-size: $alert-title-font-size;
  font-weight: $alert-title-font-weight;
  font-style: normal;
  
  cursor: pointer;
}